// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog__p--max-height {
  max-height: 5rem;
  overflow: hidden;
}
.notification__div--position {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}
.notification__div--height {
  min-height: 5rem;
}
.login__link--decoration > a {
  text-decoration: none;
  color: white !important;
  &:hover {
    text-decoration: none;
    color: white !important;
  }
}